body {
    display: flex;
    justify-content:center;
    font-family: Georgia, serif;
}
.container {
    display: flex;
    flex-direction: column;
    max-width:500px;
}
.info {
    font-size:1.8em;
    margin: 2em 0;
}
li {
    font-size:2em;
    margin-bottom:2em;
}

form input{
    font-size:.8em;
}
h1 {
    font-size:2em;
}
h3 {
    font-size:1.5em; 
}
p {
    font-size:.8em;
}